<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.forest.mapper.ArticleContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.forest.entity.ArticleContent">
        <result column="id_article" property="idArticle" />
        <result column="article_content" property="articleContent" />
        <result column="article_content_html" property="articleContentHtml" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_article, article_content, article_content_html, created_time, updated_time
    </sql>

</mapper>
