<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.forest.mapper.BankAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.forest.entity.BankAccount">
        <id column="id" property="idBankAccount" />
        <result column="id_bank" property="idBank" />
        <result column="bank_account" property="bankAccount" />
        <result column="account_balance" property="accountBalance" />
        <result column="account_owner" property="accountOwner" />
        <result column="created_time" property="createdTime" />
        <result column="account_type" property="accountType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, id_bank, bank_account, account_balance, account_owner, created_time, account_type
    </sql>

</mapper>
