<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.forest.mapper.LoginRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.forest.entity.LoginRecord">
        <id column="id" property="id"/>
        <result column="id_user" property="idUser"/>
        <result column="login_ip" property="loginIp"/>
        <result column="login_ua" property="loginUa"/>
        <result column="login_city" property="loginCity"/>
        <result column="login_os" property="loginOs"/>
        <result column="login_browser" property="loginBrowser"/>
        <result column="created_time" property="createdTime"/>
        <result column="login_device_id" property="loginDeviceId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, id_user, login_ip, login_ua, login_city, login_os, login_browser, created_time, login_device_id
    </sql>
    <select id="selectLoginRecordByIdUser" resultMap="BaseResultMap">
        select id, id_user, login_ip, login_browser, login_city, login_os, created_time
        from forest_login_record
        where id_user = #{idUser}
        order by created_time desc
    </select>

</mapper>
