<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.forest.mapper.TopicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.forest.entity.Topic">
        <id column="id" property="id" />
        <result column="topic_title" property="topicTitle" />
        <result column="topic_uri" property="topicUri" />
        <result column="topic_description" property="topicDescription" />
        <result column="topic_type" property="topicType" />
        <result column="topic_sort" property="topicSort" />
        <result column="topic_icon_path" property="topicIconPath" />
        <result column="topic_nva" property="topicNva" />
        <result column="topic_tag_count" property="topicTagCount" />
        <result column="topic_status" property="topicStatus" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="topic_description_html" property="topicDescriptionHtml" />
    </resultMap>

    <resultMap id="TagDTOResultMap" type="com.github.forest.dto.TagDTO">
        <id column="id" property="idTag"/>
        <id column="tag_title" property="tagTitle"/>
        <id column="tag_uri" property="tagUri"/>
        <id column="tag_description" property="tagDescription"/>
        <id column="tag_icon_path" property="tagIconPath"/>
    </resultMap>

    <resultMap id="TagResultMap" type="com.github.forest.entity.Tag">
        <id column="id" property="id"/>
        <id column="tag_title" property="tagTitle"/>
        <id column="tag_icon_path" property="tagIconPath"/>
        <id column="tag_uri" property="tagUri"/>
        <id column="tag_description" property="tagDescription"/>
        <id column="tag_view_count" property="tagViewCount"/>
        <id column="tag_article_count" property="tagArticleCount"/>
        <id column="tag_ad" property="tagAd"/>
        <id column="tag_show_side_ad" property="tagShowSideAd"/>
        <id column="created_time" property="createdTime"/>
        <id column="updated_time" property="updatedTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, topic_title, topic_uri, topic_description, topic_type, topic_sort, topic_icon_path, topic_nva, topic_tag_count, topic_status, created_time, updated_time, topic_description_html
    </sql>
    <select id="selectTopicTag" resultMap="TagDTOResultMap">
        select vt.id, vt.tag_title, vt.tag_uri, vt.tag_description, vt.tag_icon_path
        from forest_tag vt
                 left join forest_topic_tag vtt on vt.id = vtt.id_tag
        where vtt.id_topic = #{idTopic}
        order by vtt.created_time desc
    </select>


    <select id="selectUnbindTagsById" resultMap="TagResultMap">
        select * from forest_tag vt where not exists(select * from forest_topic_tag vtt where vtt.id_topic = #{idTopic}
        and vtt.id_tag = vt.id)
        <if test="tagTitle != '' and tagTitle != null">
            and LOCATE(#{tagTitle}, vt.tag_title) > 0
        </if>
        order by vt.created_time desc
    </select>

</mapper>
