<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.forest.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.forest.entity.User">
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="real_name" property="realName" />
        <result column="sex" property="sex" />
        <result column="avatar_type" property="avatarType" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="status" property="status" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="signature" property="signature" />
        <result column="last_online_time" property="lastOnlineTime" />
        <result column="bg_img_url" property="bgImgUrl" />
    </resultMap>
    <resultMap id="DTOResultMapper" type="com.github.forest.dto.UserDTO">
        <result column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar_type" property="avatarType"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="signature" property="signature"/>
        <result column="bg_img_url" property="bgImgUrl"/>
    </resultMap>

    <resultMap id="UserInfoResultMapper" type="com.github.forest.dto.UserInfoDTO">
        <result column="id" property="idUser"/>
        <result column="account" property="account"/>
        <result column="nickname" property="nickname"/>
        <result column="sex" property="sex"/>
        <result column="avatar_type" property="avatarType"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="status" property="status"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="last_online_time" property="lastOnlineTime"/>
        <result column="created_time" property="createdTime"/>
        <result column="signature" property="signature"/>
        <result column="bg_img_url" property="bgImgUrl"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account, password, nickname, real_name, sex, avatar_type, avatar_url, email, phone, status, created_time, updated_time, last_login_time, signature, last_online_time, bg_img_url
    </sql>
    <select id="selectByAccount"  resultMap="BaseResultMap">
        select id, nickname, account, password, status, avatar_type, avatar_url, email from forest_user where (account = #{account} or email = #{account} ) and status = 0
    </select>
    <select id="selectUserDTOByAccount" resultMap="DTOResultMapper">
        select id, nickname, avatar_type, avatar_url, account, signature, bg_img_url from forest_user where account = #{account} and status = 0
    </select>
    <select id="findRoleWeightsByUser" resultType="java.lang.Integer">
        select vr.weights from forest_role vr left join forest_user_role vur on vr.id = vur.id_role where vur.id_user = #{idUser}
    </select>
    <select id="selectUsers" resultMap="UserInfoResultMapper">
        select id, nickname, sex, avatar_type, avatar_url, email, account, status, last_login_time, created_time, last_online_time from forest_user
        <where>
            <if test="searchDTO.nickname != null and searchDTO.nickname != ''">
                and instr(nickname, #{searchDTO.nickname}) > 0
            </if>
        </where>
        order by last_online_time desc
    </select>


</mapper>
