<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.forest.mapper.UserExtendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.forest.entity.UserExtend">
        <result column="id_user" property="idUser" />
        <result column="github" property="github" />
        <result column="weibo" property="weibo" />
        <result column="weixin" property="weixin" />
        <result column="qq" property="qq" />
        <result column="blog" property="blog" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_user, github, weibo, weixin, qq, blog
    </sql>
    <select id="selectUserExtendByAccount" resultMap="BaseResultMap">
        select vue.* from forest_user_extend vue join forest_user vu on vue.id_user = vu.id
        where vu.account = #{account} limit 1
    </select>

</mapper>
